mixin cursor(data)

  - if (data != undefined)
    table(bgcolor="white", frame="void", width="300px", cellspacing="0px")
      tr
        td &nbsp;
      tr
        td(align="center", valign="middle", style='font-size: 12px;text-transform: uppercase;') Ce mois-ci vous avez été plutôt

      tr
        td(align="center")
          - var val = Math.round(data.balance / 16) * 30 ; 
            img(alt="#{ 100 - data.balance} - #{data.balance}", src="#{baseUrl}/img/cursors/cursor_b_#{val}.png")
         
       tr
         td
           table(width="300px")
             tr
               -var labStyle = "text-transform: capitalize; font-size: 12px;";
                 td(align="left", style=labStyle)= data.minLabel
                 td(align="right", style=labStyle)= data.maxLabel
      tr
        td &nbsp;
                 
