include badge
include numberviz
include cursor
include viz

html
 - var styleBdTitles = "font-size: 25px; text-decoration: underline;";
 - var styleBdSubTitles = "font-size: 20px;";
 - var styleBdTxt = "font-size: 15px;";
 - var styleBdBigTxt = "font-size: 18px;";
  body
    h3(style=styleBdSubTitles) Bonjour 
      = flName
      |,
    

    h2(style=styleBdTitles) Des nouvelles fraîches sur vous ?
    p(style=styleBdBigTxt)
      | Feuilletez le magazine qui vous raconte votre propre histoire. Découvrez les gros titres du moments, les petits riens de votre quotidien.

    p(style=styleBdTxt)
      | En tant que testeur du projet MesInfos via le panel EDEN, nous vous proposons de découvrir la 1ère édition de 
      i
        a(href="#{miURL}/#apps/mesinfos-moi") moi
      | , votre magazine rien qu'à vous !
    
    br
    br
    
    a(href="#{miURL}/#apps/mesinfos-moi", style="text-decoration: none;color: #010101;")
        table(bgcolor="#F4F4F4", cellpadding="5px", frame="void", width="640px")
          tr
            th(style="font-size: 15px") &nbsp;
          tr
            th(align="center")
              img(alt="moi",src="#{baseUrl}/img/logo_moi_128px.png")
          tr
            th(style="font-size: 15px") &nbsp;
          tr
            th
              hr(style="border: solid 1px #246C7C")
            //- th(bgcolor="#246C7C")
            //- tr
            //- th(bgcolor="#8AC7C2", style="font-size: 30px;")

          tr
            th(align="center", style="line-height: 2; font-size: 40px; color: #2F6878;text-transform: uppercase;") 
              | ~&nbsp;
              = displayDate
              | &nbsp;~
          tr
            th(style="font-size: 30px") &nbsp;
          tr
            th(align="center", style="line-height: 2; font-size: 30px; color: #969898;") EXPLOITS DU MOIS
          tr
            td
              table(align="center")
                tr
                  mixin badgeimg(badges[0])
                  mixin badgeimg(badges[1])
                  mixin badgeimg(badges[2])
                tr
                  mixin badgelabel(badges[0])
                  mixin badgelabel(badges[1])
                  mixin badgelabel(badges[2])          
          tr
            th(style="font-size: 30px") &nbsp;
          tr
            th(align="center", style="line-height: 2; font-size: 30px; color: #969898;") VOUS CE MOIS-CI
          tr
            td
              table
                tr
                  td(valign="top")
                    table
                      tr
                        td
                          mixin numberviz(numbers[0])
                      tr
                        td
                          mixin cursor(cursors[0])
                      tr
                        td
                          mixin numberviz(numbers[2])
                      tr
                        td
                          mixin viz(viz[1])
                  td(valign="top")
                    table
                      tr
                        td 
                          mixin viz(viz[0])
                      tr
                        td
                          mixin numberviz(numbers[1])
                      tr
                        td 
                          mixin cursor(cursors[1])                
                      tr
                        td
                          mixin numberviz(numbers[3])
                      tr
                        td
                          mixin numberviz(numbers[4])

          tr
            th(bgcolor="#8AC7C2") &nbsp;
              img(alt="MesInfos",src="#{baseUrl}/img/Logo_MesInfos_71px.png")

    br
    br

    h3(style=styleBdSubTitles) Envie d'aller plus loin et de gagner des points-cadeaux ?
    ul(style=styleBdTxt)
      li
        | Vous pouvez consulter les anciennes éditions de votre Magazine 
        i moi
        | , via 
        a(href="#{miURL}/#apps/mesinfos-moi") l'application 
          i moi 
        | dans votre 
        a(href=miURL) espace personnel
        | .
      li
        | Pour cela, il est nécessaire de vous connecter à votre 
        a(href=miURL) espace personnel
        | &nbsp;( 
        a(href=miURL)= miURL
        | , vous pouvez suivre les étapes de cette 
        a(href="http://youtu.be/V6M3-BSeP2s") vidéo
        | &nbsp;pour vous guider), vous seuls pouvez le faire car ces données ne concernent que vous !
      li
        | Un nouveau système de points-cadeaux est mis en place par Eden : en installant votre espace personnel, en installant les 4 autres applications disponibles, en partageant vos impressions... vous cumulerez des points !

    br 

    h3(style=styleBdSubTitles) Vie privée
    p(style=styleBdTxt)
      | Rappel : comme tous les services proposés par MesInfos, vous seuls avez accès à ces données et pouvez les consulter. Ni les enseignes partenaires, ni les animateurs de MesInfos n'y ont accès !
    p(style=styleBdTxt)
      | Pour toutes questions, rendez-vous sur le 
      a(href="http://mesinfos.edeninsight.net/") forum des testeurs MesInfos
      | &nbsp;(animé par Eden) : 
      a(href="http://mesinfos.edeninsight.net/") http://mesinfos.edeninsight.net/

