include badge
include numberviz
include cursor
include viz

html
 - var styleBdTitles = "font-size: 25px; text-decoration: underline;";
 - var styleBdSubTitles = "font-size: 20px;";
 - var styleBdTxt = "font-size: 15px;";
 - var styleBdBigTxt = "font-size: 18px;";
  body(style="font-family: Helvetica,Arial,Verdana,sans-serif; color: #333;")
    h3(style=styleBdSubTitles) Bonjour&nbsp;
      = flName
      |,


    h2(style=styleBdTitles) Des nouvelles fraîches sur vous ?
    p(style=styleBdBigTxt)
      | Feuilletez le magazine qui vous raconte votre propre histoire. Découvrez les gros titres du moments, les petits riens de votre quotidien.

    p(style=styleBdTxt)
      | En tant que testeur dans le pilote MesInfos, nous vous proposons de découvrir la dernière édition de&nbsp;
      i
        a(href="#{miURL}#apps/moimois") moi
      | , votre magazine rien qu'à vous !

    br
    br

    a(href="#{miURL}#apps/moimois", style="text-decoration: none;color: #010101;")
        table(bgcolor="#F4F4F4", cellpadding="5px", frame="void", width="640px")
          tr
            th(style="font-size: 15px") &nbsp;
          tr
            th(align="center")
              img(alt="moi",src="#{baseUrl}/img/logo_moi_128px.png")
          tr
            th(style="font-size: 15px") &nbsp;
          tr
            th
              hr(style="border: solid 1px #246C7C")
            //- th(bgcolor="#246C7C")
            //- tr
            //- th(bgcolor="#8AC7C2", style="font-size: 30px;")

          tr
            th(align="center", style="line-height: 2; font-size: 40px; color: #2F6878;text-transform: uppercase;")
              | ~&nbsp;
              = displayDate
              | &nbsp;~
          tr
            th(style="font-size: 30px") &nbsp;
          tr
            th(align="center", style="line-height: 2; font-size: 30px; color: #969898;") EXPLOITS DU MOIS
          tr
            td
              table(align="center")
                tr
                  mixin badgeimg(badges[0])
                  mixin badgeimg(badges[1])
                  mixin badgeimg(badges[2])
                tr
                  mixin badgelabel(badges[0])
                  mixin badgelabel(badges[1])
                  mixin badgelabel(badges[2])
          tr
            th(style="font-size: 30px") &nbsp;
          tr
            th(align="center", style="line-height: 2; font-size: 30px; color: #969898;") VOUS CE MOIS-CI
          tr
            td
              table
                tr
                  td(valign="top")
                    table
                      tr
                        td
                          mixin numberviz(numbers[0])
                      tr
                        td
                          mixin cursor(cursors[0])
                      tr
                        td
                          mixin numberviz(numbers[2])
                      tr
                        td
                          mixin viz(viz[1])
                  td(valign="top")
                    table
                      tr
                        td
                          mixin viz(viz[0])
                      tr
                        td
                          mixin numberviz(numbers[1])
                      tr
                        td
                          mixin cursor(cursors[1])
                      tr
                        td
                          mixin numberviz(numbers[3])
                      tr
                        td
                          mixin numberviz(numbers[4])

          tr
            th(bgcolor="#8AC7C2") &nbsp;
              img(alt="MesInfos",src="#{baseUrl}/img/Logo_MesInfos_71px.png")

    br
    br

    p Vous pouvez consulter les anciennes éditions de votre Magazine&nbsp;
      i moi
      | , via&nbsp;
      a(href="#{miURL}#apps/moimois") l'application&nbsp;
        i moi
      | &nbsp;dans votre&nbsp;
      a(href=miURL) cozy
      | . Rendez-vous le mois prochain pour une nouvelle édition de&nbsp;
      i moi
      |&nbsp;!

    br

    h3(style=styleBdSubTitles) Vie privée
    p(style=styleBdTxt)
      | Rappel : comme tous les services proposés sur vore Cozy par MesInfos, vous seuls avez accès à ces données et pouvez les consulter. Ni les enseignes partenaires, ni l'équipe de MesInfos, ni les équipes Cozy Cloud n'y ont accès !
    p(style=styleBdTxt)
      | Pour toutes questions, rendez-vous sur le&nbsp;
      a(href="http://mesinfos.fing.org/forum/") forum des testeurs MesInfos
      | &nbsp;(
      a(href="http://mesinfos.fing.org/forum") http://mesinfos.fing.org/forum
      | ).
